.form-wrapper {
  position: relative;
}

.form-blur.loader-blur {
  filter: blur(10px);
}

.loader {
  display: none;
}

.loader.show {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58px;
  height: 58px;
  border: 6px solid var(--text-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}