.form-wrapper {
  position: relative;
}

.form-wrapper.loader-blur {
  filter: blur(10px);
  z-index: 1;
}

.loader {
  display: none;
  position: absolute;
  top: 600px;
  left: 48%;
}

.loader.show {
  display: block;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 58px;
  height: 58px;
  border: 6px solid var(--text-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}