.form-wrapper {
  position: relative;
  background-color: var(--gray);
}

.form-blur.loader-blur {
  filter: blur(10px);
  z-index: 1;
}

.loader {
  display: none;
  position: absolute;
  top: 300px;
  left: 48%;
  opacity: 0;
}

.loader.show {
  display: block;
  transform: translate(-50%, -50%);
  width: 58px;
  height: 58px;
  border: 6px solid var(--text-gray);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 1;
  animation: rotation 1s linear infinite;
  z-index: 10;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}